.loginPage {
    height: 95vh;
    margin-top: 55px;
    position: relative;
    background-repeat: no-repeat; 
    background-size: cover;
    background-image: url('./loginbg.webp');
}
.loginForm {
    background-color: rgb(1, 60, 99);
    padding: 10px 50px 30px 50px;
    border-radius: 3px;
    color: white;
    max-width: 500px;
    font-size: 14px;
    position: absolute;
    right: 10%;
    top: 10%;
}
.loginHeading {
    text-align: center;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    padding: 10px;
    letter-spacing: 5px;
}
.loginInputs {
    margin: 5px 0px 5px 10px;
    height: 40px;
    width: 250px;
    color: rgb(80, 80, 80);
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-family: sans-serif;
}
.forgotPass {
    cursor: pointer;
    margin-top: 3px;
    letter-spacing: 1px;
    color: rgb(224, 62, 62);
    font-weight: 550;
    text-align: end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.loginBtn {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    font-weight: 550;
    background-color: rgba(23, 111, 194, 0.911);
    color: white;
    letter-spacing: 4px;
    border: none;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.loginRegisterDiv {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.loginRegister {
    font-weight: 600;
    padding-left: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    color: rgb(224, 62, 62);
}