.homeSuggestedItems {
    width: 100%;
}

.headingStyle{
    display: flex;
    justify-content: space-between;
}
.homeHeading {
    color: rgb(78, 85, 85);
    font-size: 23px;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.rightArrow {
    height: 30px;
    width: 35px;
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.rightArrow:hover {
    transform: scale(1.1);
}
.rightArrow > img{
    width: 100%;
    height: 100%;
}